.box {
    width: 50%;
    background-color: #FFF;
    color: rgba(58, 53, 65, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(58, 53, 65, 0.2), 0px 1px 1px 0px rgba(58, 53, 65, 0.14), 0px 1px 3px 0px rgba(58, 53, 65, 0.12);
    background-image: none;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);

        padding-left: 1.5rem;

        padding-top: 1.5rem;

}


.h-100 {
    height: 100% !important;
}
.card {
    background-clip: padding-box;
    box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);
}

.card {
    --bs-card-spacer-y: 1.375rem;
    --bs-card-spacer-x: 1.25rem;
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-border-width: 0;
    --bs-card-border-color: #eaeaec;
    --bs-card-border-radius: 0.625rem;
    --bs-card-box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);
    --bs-card-inner-border-radius: 0.625rem;
    --bs-card-cap-padding-y: 1.25rem;
    --bs-card-cap-padding-x: 1.25rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: #636578;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1.5rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
*, *::before, *::after {
    box-sizing: border-box;
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}