.theme1_card1_alert {
    height: 120px;
    width: 280px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    padding: 15px;
    border-radius: 10px;
}

.theme1_card1_alert:hover {
    transform: scale(1.01);
    border: 3px solid rgb(56, 170, 222);
}

.theme1_card2_alert {
    height: 120px;
    width: 280px;
    background: radial-gradient(#fbc1cc, #fa99b2);
    padding: 15px;
    border-radius: 10px;
}

.theme1_card2_alert:hover {
    transform: scale(1.01);
    border: 3px solid rgb(231, 66, 187);
}

.theme1_card3_alert {
    height: 120px;
    width: 280px;
    background: radial-gradient(#60efbc, #58d5c9);
    padding: 15px;
    border-radius: 10px;
}

.theme1_card3_alert:hover {
    transform: scale(1.01);
    border: 3px solid rgb(33, 236, 172);
}

.theme1_card4_alert {
    height: 120px;
    width: 280px;
    background: radial-gradient(#76b2fe, #b69efe);
    padding: 15px;
    border-radius: 10px;
}

.theme1_card4_alert:hover {
    transform: scale(1.01);
    border: 3px solid rgb(248, 16, 194);
}

.theme1_card5_alert {
    height: 120px;
    width: 280px;
    background: radial-gradient(#f588d8, #c0a3e5);
    padding: 15px;
    border-radius: 10px;
}

.theme1_card5_alert:hover {
    transform: scale(1.01);
    border: 3px solid rgb(237, 3, 175);
}

.theme1_card6_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #e41749;
    color: white;
}

.theme1_card7_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #0676ed;
    color: white;
}


.theme1_card8_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #222b45;
    color: white;
}


.theme1_card9_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #f2a600;
    color: white;
}


.theme1_card10_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #12c99b;
    color: white;
}

.theme1_card11_alert {
    min-height: 67px;
    width: 560px;
    max-width: 90%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    background: #3d4140;
    color: white;
}
