.titleCards , .titleCards_alert{
    text-align: center;
    color: blue;
    font-size: 22px;
    }

    
    .theme1_block_card, .theme1_block_card_alert{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        padding: 50px;
        margin:20px,20px,20px,20px ;
        color: blue;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        }